<div class="basic-grey">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Nome:</strong>
    <%= @cadastro.nome %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= @cadastro.descricao %>
  </p>

  <p>
    <strong>Valor:</strong>
    <%= @cadastro.valor %>
  </p>

  <p>
    <strong>Inicio:</strong>
    <%= l @cadastro.inicio %>
  </p>

  <p>
    <strong>Fim:</strong>
    <%= l @cadastro.fim %>
  </p>

  <p>
    <strong>Cidade:</strong>
    <%= @cadastro.cidade %>
  </p>

  <%= link_to 'Editar', edit_cadastro_path(@cadastro), class: 'btn btn-primary' %> |
  <%= link_to 'Voltar', root_path, class: 'btn btn-danger' %>
</div>